# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.TARge20-Demod.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kristjan.kivikangur\source\repos\TARge20\TARge20-Demod\.idea\.idea.TARge20-Demod.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
